<nav>
    <div class="page {{#if index}}active{{/if}}">
        <a {{#unless index}}href="/"{{/unless}}>
            <div class="icon">
                <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.18 9" />
                    <path d="M21 16v-2l-8-5V3.5c0-.83-.67-1.5-1.5-1.5S10 2.67 10 3.5V9l-8 5v2l8-2.5V19l-2 1.5V22l3.5-1 3.5 1v-1.5L13 19v-5.5l8 2.5z"
                    />
                    <path d="M0 0h24v24H0z" fill="none" />
                </svg>
                Flights
            </div>
        </a>
    </div>
    <div class="page {{#if rewards}}active{{/if}}">
        <a {{#unless rewards}}href="rewards.html"{{/unless}}>
            <div class="icon">
                <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M20 2H4c-1.11 0-2 .89-2 2v11c0 1.11.89 2 2 2h4v5l4-2 4 2v-5h4c1.11 0 2-.89 2-2V4c0-1.11-.89-2-2-2zm0 13H4v-2h16v2zm0-5H4V4h16v6z"/>
                </svg>
                Rewards
            </div>
        </a>
    </div>
    <div class="page {{#if more}}active{{/if}}">
        <a {{#unless more}}href="more.html"{{/unless}}>
            <div class="icon">
                <svg fill="#FFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
                More
            </div>
        </a>
    </div>
</nav>

<div id="toast"></div>
</body>
</html>