<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="assets/misc/manifest.json">
    <meta name="theme-color" content="#4FC3F7">

    <title>Air Antarctica</title>

    <style>
         :root {
            --primary: #4FC3F7;
            --black: #263238;
            --gray: #607D8B;
            --light: #ECEFF1;
            --nav: #455A64;
            --nav-selected: #37474F;
            --offline: #333333;
        }

         body {
             margin: 0;
             font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
             font-size: 18px;
             color: var(--black);
         }

         header {
             background-color: var(--primary);
             transition: background-color 300ms;
             padding: 20px;
             color: white;
             display: flex;
             align-items: center;
             justify-content: center;
             text-align: center;
             font-size: 20px;
             position: fixed;
             top: 0;
             left: 0;
             right: 0;
         }

        #content {
            padding: 60px 20px;
        }

         nav {
             position: fixed;
             bottom: 0;
             left: 0;
             right: 0;
             background-color: var(--nav);
             display: flex;
             text-align: center;
             color: white;
             z-index: 100;
         }

         .page {
             flex-grow: 1;
         }

         .page a {
             text-decoration: none;
             color: white;
             -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
             padding: 20px 0;
             display: block;
         }

         .page svg {
             margin-right: 10px;
         }

         nav .icon{
             display: flex;
             align-items: center;
             justify-content: center;
             text-align: center;
         }

         .page.active {
             background-color: var(--nav-selected);
         }

         .loader-container{
             display: flex;
             justify-content: center;
             margin-top: 50px;
         }
         .circular {
             animation: rotate 2s linear infinite;
             height: 50px;
             width: 50px;
         }

         .path {
             stroke-dasharray: 1,200;
             stroke-dashoffset: 0;
             animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
             stroke-linecap: round;
             stroke: #3f88f8;
         }


         @keyframes rotate {
             100% {
                 transform: rotate(360deg);
             }
         }
         @keyframes dash {
             0% {
                 stroke-dasharray: 1,200;
                 stroke-dashoffset: 0;
             }
             50% {
                 stroke-dasharray: 89,200;
                 stroke-dashoffset: -35;
             }
             100% {
                 stroke-dasharray: 89,200;
                 stroke-dashoffset: -124;
             }
         }
    </style>
</head>

<body>
    <header>
        {{#if index}}Flights{{/if}}

        {{#if rewards}}Rewards{{/if}}
        
        {{#if more}}More{{/if}}
    </header>