{{> common/head.hbs index=true}}

<div id="content">
    <div id="booking">
        <div class="loader-container">
            <svg class="circular" height="50" width="50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
</div>

{{> common/bottom.hbs index=true}}