{{> common/head.hbs more=true}}

<div id="content">
    <div id="more">
        <p>About</p>
        <h3><a href="https://example.org/" target="_blank">Terms</a></h3>
        <h3><a href="https://example.org/" target="_blank">Privacy</a></h3>

        <p>Legal</p>
        <h3 class="load-licenses">Open source licenses</h3>
        <div id="licenses"></div>
    </div>
</div>

{{> common/bottom.hbs more=true}}