{{> common/head.hbs rewards=true}}

<div id="content">
    <div id="rewards">
        <div class="cover">
            <img id="avatar" alt="" width="100" height="100">
            <h2 id="name"></h2>
        </div>
        <div class="card">
            <label>Reward number</label>
            <h3 id="reward-number"></h3>
        </div>
        <div class="card">
            <label>Miles</label>
            <h3 id="miles"></h3>
        </div>
        <div class="card">
            <label>Address</label>
            <h3 id="address"></h3>
        </div>
    </div>
</div>

{{> common/bottom.hbs rewards=true}}