#rewards{
    img{
        border-radius: 50%;
        margin-right: 20px;
    }

    .label{
        color: var(--gray);
    }
    h3{
        margin-top: 10px;
    }
    .card{
        padding: 8px 0;
    }
    .cover{
        display: flex;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}