#more{
    h3{
        padding: 20px 10px;
        background-color: white;
        border-bottom: 1px solid var(--light);
        border-top: 1px solid var(--light);
        margin-top: -1px;
        margin-bottom: 0;
        font-weight: 500;
    }

    a{
        text-decoration: none;
        color: black;
    }

    p{
        color: var(--gray);
        margin-top: 40px;
    }
}

#licenses{
    margin-top: 20px;
}