#toast {
    position: fixed;
    left: 20px;
    bottom: 0px;
    background-color: #323232;
    padding: 15px 24px;
    color: white;
    box-shadow: 0 7px 18px rgba(0,0,0,0.2);
    border-radius: 3px;
    z-index: 90;
}

.show {
    animation: show 4s forwards;
    animation-delay: 500ms;
}

@keyframes show {
    0% { bottom: 0px; }
    10% { bottom: 85px; } 
    90% { bottom: 85px; } 
    100% { bottom: 0px; }
}